@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main {
    background-color: #1F2937;
}

.hero-container {
    background-color: #1F2937;
    max-width: 70%;
    margin: auto;

    display: flex;
    flex-direction: column;
    padding-top: 16px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* padding: 16px; */
}

.header-logo > h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-links > ul {
    list-style-type: none;

    display: flex;
    gap: 16px;
}

.nav-links > ul > li > a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}

.hero-section {
    margin: 60px 0px;

    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.hero-section-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    flex: 1;
}

.hero-section-content > h1 {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.hero-section-content > p {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 50%;
}

.hero-section-content > button {
    color: #F9FAF8;
    background-color: #3882f6;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    max-width: 6rem;
}

.hero-section > img {
    /* width: 400px; */
    height: 280px;
    object-fit: cover;
    flex: 1;
}

.information-container {
    background-color: whitesmoke;
    padding-top: 32px;
    padding-bottom: 48px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 32px;

}

.information-container > h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 700;
}

.information-container > .img-container {
    max-width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 16px;

}

.image-div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.image-div > img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    flex-basis: 80%;
    border-radius: 12px;
}

.image-div > p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.849);
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;

    padding: 48px 0px;

    display: flex;
    justify-content: center;
}

.quote-div {
    max-width: 40%;
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quote-div > p:nth-child(1) {
    color: #1F2937;
}

.quote-div > p:nth-child(2) {
    align-self: flex-end;
    font-size: 16px;
    font-weight: 700;
}

.account-container {
    background-color: whitesmoke;
    padding: 60px 0px;
}

.sign-up-container {
    margin: 0 auto;
    padding: 32px;
    border-radius: 12px;
    background-color: #3882f6;
    color: #F9FAF8;
    max-width: 75%;
    display: flex;
    justify-content: space-around;
}

.sign-up-container > button {
    color: #F9FAF8;
    background-color: #3882f6;
    padding: 8px 24px;
    border: 1px solid #F9FAF8;
    border-radius: 8px;
    max-width: 6rem;
}

.sign-up-information > p {
    font-size: 12px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 32px;
    text-align: center;
}